<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65121122296-5qitorjp898pcm666kkvfd7lair8985a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65121122296-5qitorjp898pcm666kkvfd7lair8985a</string>
	<key>API_KEY</key>
	<string>AIzaSyA1fRhgjJuQuewc7wFmlRXD__nXc0yMyqI</string>
	<key>GCM_SENDER_ID</key>
	<string>65121122296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.test.Remote-push</string>
	<key>PROJECT_ID</key>
	<string>remote-push-de560</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-push-de560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65121122296:ios:b8841b792b5fd7ca99c80d</string>
</dict>
</plist>